<template>
    <el-dialog :title="titleDialog" :visible="showDialog" @close="close" @open="create">
        <form autocomplete="off" @submit.prevent="submit">
            <div class="form-body">
                
                <div class="row">
                  <div class="col-md-6">
                        <div class="form-group"  >
                            <label class="control-label">Usuario</label>
                            <!--<el-input v-model="form.user" readonly></el-input> -->
                             <el-select  v-model="form.user_id">
                                <el-option v-for="option in users" :key="option.id" :value="option.id" :label="option.name"></el-option>
                            </el-select>
                            <small class="form-control-feedback" v-if="errors.user" v-text="errors.user[0]"></small>
                        </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="form-group" :class="{'has-danger': errors.estado}">
                            <label class="control-label">estado</label>
                            <el-input v-model="form.estado"></el-input>
                            <small class="form-control-feedback" v-if="errors.estado" v-text="errors.estado[0]"></small>
                        </div>
                    </div> 
                    <div class="col-md-6">
                        <div class="form-group" :class="{'has-danger': errors.saldo1}">
                            <label class="control-label"> {{agente1[0].nombre}} </label>
                            <el-input v-model="form.saldo1"></el-input>
                            <small class="form-control-feedback" v-if="errors.saldo1" v-text="errors.saldo1[0]"></small>
                        </div>
                    </div> 
                        <div class="col-md-6">
                        <div class="form-group" :class="{'has-danger': errors.saldo2}">
                            <label class="control-label">{{agente2[0].nombre}} </label>
                            <el-input v-model="form.saldo2"></el-input>
                            <small class="form-control-feedback" v-if="errors.saldo2" v-text="errors.saldo2[0]"></small>
                        </div>
                    </div> 
                        <div class="col-md-6">
                        <div class="form-group" :class="{'has-danger': errors.saldo3}">
                            <label class="control-label">{{agente3[0].nombre}}</label>
                            <el-input v-model="form.saldo3"></el-input>
                            <small class="form-control-feedback" v-if="errors.saldo3" v-text="errors.saldo3[0]"></small>
                        </div>
                    </div> 
                   
                   
                </div> 
            </div>
            <div class="form-actions text-right pt-2">
                <el-button @click.prevent="close()">Cancelar</el-button>
                <el-button type="primary" native-type="submit" :loading="loading_submit">Guardar</el-button>
            </div>
        </form>
    </el-dialog>
</template>
 
<script>
 

    export default {
        props: ['showDialog', 'recordIda'],
        data() {
            return {
                loading_submit: false,
                titleDialog: null,                
                resource: 'cashagente', 
                errors: {}, 
                form: {},
                types:[],
                banks:[],
                users:[],
                 agente:[],
                 agente1:'',
                 agente2:'',
                 agente3:'',
                user: {},
            } 
        },
        created() {
                this.$http.get(`/cash/tables`)
                        .then(response => {
                            this.users = response.data.users
                              this.agente = response.data.agente
                               this.agente1 = response.data.agente1
                               this.agente2 = response.data.agente2
                               this.agente3 = response.data.agente3
                             this.user = response.data.user
                        })
            
           
            this.initForm() 
        },
        methods: {
            initForm() { 
                this.errors = {} 

                this.form = {
                    id: null,
                    operacion: null, 
                    monto: null,                    
                    banks:null,
                    tipo:null,
                }
            },
            create() {

                this.titleDialog = (this.recordIda)? 'Editar Apertura':'Apertura de caja'
                if (this.recordIda) {
                    this.$http.get(`/${this.resource}/record/${this.recordIda}`).then(response => {
                            this.form = response.data
                        })
                }
            },
            submit() {   
 

                this.loading_submit = true  
                this.$http.post(`${this.resource}`, this.form)
                    .then(response => {
                        if (response.data.success) {
                            this.$message.success(response.data.message)
                            this.$eventHub.$emit('reloadData')
                            this.close()
                        } else {
                            this.$message.error(response.data.message)
                        }
                    })
                    .catch(error => {
                        if (error.response.status === 422) {
                            this.errors = error.response.data 
                        } else {
                            console.log(error.response)
                        }
                    })
                    .then(() => {
                        this.loading_submit = false
                    })
                    
            },  
            close() {
                this.$emit('update:showDialog', false)
                this.initForm()
            }
        }
    }
</script>